{% extends 'test_app/base.html' %}
{% block content %}
<h1>Frontend</h1>

{% comment %} messages from backend {% endcomment %}
{% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if message.tags == 'info' %}
    <script>
        var m = "{{ message }}";
        swal("Blocked!",m,"info")
    </script>
    {% elif message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
        swal("Denied!",m,"error")
    </script>
    {% endif %}

{% endfor %}

{% endblock content %}