{% comment %} {% extends 'test_app/base.html' %} {% endcomment %}
<div id="overlay">
    <div class='cotn_principal'>
        
        
        <div class="cont_centrar">
            
            <div class="cont_login">
            <div class="cont_info_log_sign_up">
               
                <div class="col_md_login">
                <div class="cont_ba_opcitiy">
                    <h2>LOGIN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn_login" onclick="cambiar_login()">
                    LOGIN
                    </button>
                </div>
                </div>
                <div class="col_md_sign_up">
                <div class="cont_ba_opcitiy">
                    <h2>SIGN UP</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <button class="btn_sign_up" onclick="cambiar_sign_up()">
                    SIGN UP
                    </button>
                </div>
                </div>
            </div>

            <div class="cont_back_info">
                <div class="cont_img_back_grey">
                <img
                    src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                    alt=""
                />
                </div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_">
                <img
                    src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                    alt=""
                />
                </div>
                <form class="cont_form_login" action="/login_user" method="POST" autocomplete="off">
                    {% csrf_token %}
                <a href="#" onclick="ocultar_login_sign_up()"
                    ><i class="material-icons">&#935;</i></a
                >
                <a href="#" class='close' onclick="overlay"
                    ><i class="material-icons" >Home</i></a
                >
                <h2>LOGIN</h2>
                {% comment %} <form form action="/login_user" method="POST" autocomplete='off'> {% endcomment %}
                <input type="text" name='username' placeholder="Email" />
                <input type="password" name='password' placeholder="Password" />
                <button type= "submit" class="btn_login" onclick="">LOGIN</button>
                </form>

                <div class="cont_form_sign_up">
                <a href="#" onclick="ocultar_login_sign_up()"
                    ><i class="material-icons">&#935;</i></a
                >
                <a href="#" class='close' onclick="overlay"
                    ><i class="material-icons" >Home</i></a
                >
                
                <h2>SIGN UP</h2>
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="User" />
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
                <button class="btn_sign_up" onclick="cambiar_sign_up()">
                    SIGN UP
                </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>